/* Убедитесь, что html и body занимают всю высоту экрана */
html, body {
  height: 100%;
  margin: 0; /* Убираем стандартный отступ браузера */
}


.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Занимает минимум 100% высоты экрана */
}

.content {
  flex: 1; /* Занимает оставшееся пространство */
}